.gridDash {
  width: 100%;
  padding: 0 20px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 65% auto;
}

.gridDash-card {
  background-color: #fff;

  table {
    border-collapse: collapse;
  }

  thead tr {
    border-top: 1px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
  }

  thead td {
    font-weight: 700;
  }

  td {
    padding: 8px 16px;
    font-size: 14px;
    color: #222;
  }

  td .status {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 12px;
  }

  .status.purple {
    background-color: rebeccapurple;
  }

  .status.pink {
    background-color: deeppink;
  }

  .status.orange {
    background-color: orangered;
  }

  .table-responsive {
    width: 100%;
    overflow-x: auto;
  }

  .customer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8.8px 16px;
  }

  .info {
    display: flex;
    align-items: center;
  }

  .info span {
    height: 40px;
    width: 40px;
    background-color: #019160;
    color: #ffffff;
    font-size: 16px;
    border-radius: 50%;
    margin-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .info h4 {
    font-size: 12px;
    font-weight: 700;
    color: #222;
  }

  .info small {
    font-weight: 500;
  }

  .contact i {
    font-size: 16px;
    display: inline-block;
    margin-left: 8px;
    color: #019160;
  }
}

.gridDash-card-header,
.gridDash-card-body {
  padding: 0;
}

.gridDash-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
}

.gridDash-card-header .card-header-button {
  padding: 5px 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  color: #fff;
  background-color: #019160;
  font-size: 14px;
}

.gridDash-card-header .card-header-button:hover {
  background-color: #2fbe8e;
}

@media (min-width: 701px) and (max-width: 1199px) {
  .gridDash {
    grid-template-columns: 56% auto;
  }
}

@media (max-width: 700px) {
  .gridDash {
    display: block;
    padding: 0 10px;

    .gridDash-project {
      margin-bottom: 10px;
      overflow-x: auto;
      background-color: #fff;
    }
  }
}
